/* assets */ 
@tailwind base;
@tailwind components;
@tailwind utilities;

font-family: ui-sans-serif,
system-ui,
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
sans-serif,
Apple Color Emoji,
Segoe UI Emoji,
NotoColorEmoji,
Segoe UI Symbol,
Android Emoji,
EmojiSymbols;
/* Custom CSS */

.fslightbox-container {
    background: linear-gradient(rgba(30,30,30,1.0),#000 1810%) !important;
}

.prose :where(h1):not(:where([class~="not-prose"] *)) {
    color: white !important;
}

/* Custom CSS end */